

.r1c1{
    
    margin:8px;
    padding:2px;
    border:solid red 2px;
    float: left;
}

.r2c1{
    
    margin:8px;
    padding:2px;
    border:solid red 2px;
    float: left;
}
.ir1c1{
  
    margin:8px;
    padding:2px;
    border:solid red 2px;
    float: left;
}
.ir2c1{
    
    margin:8px;
    padding:2px;
    border:solid red 2px;
    float: left;
}
